
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #dff6ff, #eaf1ff, #ffffff);
}


header{
    background-color: rgb(204, 222, 210);
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content:space-between; 
    align-items: center; 
}

nav a{
    color: black;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 20px;
}


footer{
    background-color: rgb(204, 222, 210);
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

.main{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}
.box{
    background: #e8e2e2;
    width: 220px;
    padding: 18px;
    border-radius: 12px;
    text-align: center;

    box-shadow: 0px 6px 18px rgba(0,0,0,0.1);

    transition: 0.3s ease-in-out;
}

.box:hover{
    transform: translateY(-8px);
    box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
}


.box img{
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
}
.box h3{
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}
.box p{
    color: #374151;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

button{
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

button:hover{
    background-color:#1e40af;
    transform: scale(1.05);
}
footer{
    background-color: rgb(204, 222, 210);
    color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
 }
body{
    border:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(210, 204, 200);
}
header{
    background-color: rgb(204, 222, 210);
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content:space-between; 
    align-items: center; 
}  
    
nav a{
    color: black;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 20px;
}

.main{
    background-color: turquoise;
    color: black;
    padding: 50px;
    text-align: center;

}
.btn{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
}
