/* Full Page Background */
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    background: linear-gradient(135deg, #dff3ff, #b4d6f6); /* soft gradient */
    background-repeat: no-repeat;
    min-height: 100vh;

}

/* Cart Box */
.cart-container{
    background-color: #c7b1b1;
    width: 60%;
    margin: 60px auto;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.1);

    /* Smooth border effect */
    border: 2px solid #383c3f;
}

.cart-container h2{
    color: #3b3b3b;
}

/* Total Price Text */
#total{
    margin-top: 10px;
    color: #052448;
    font-weight: bold;
    font-size: 18px;
    font-size: 20px;
}

/* Checkout Button */
#checkout-btn{
    background-color: #0f2a20;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.3s;
}

#checkout-btn:hover{
    background-color: #059669;
    transform: scale(1.05);
}

body{
    border:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(210, 204, 200);
}
header{
    background-color: rgb(214, 241, 223);
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content:space-between; 
    align-items: center; 
}  
    
nav a{
    color: black;
    margin: 0px 20px;
    text-decoration: none;
    font-size: 20px;
}

.main{
    background-color: turquoise;
    color: black;
    padding: 50px;
    text-align: center;

}
.btn{
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
}
.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ff00cc, 0 0 40px #dd2476;
}
.highlights{
    background-color: rgb(242, 120, 120);
    padding: 60px;
    margin: 30px auto;
    width: 85%; 
    text-align: center;
    border-radius: 12px;
}
.highlights h2{
    font-size:28px;
    margin-bottom: 20px;
}
.highlights ul{
    list-style: none;
}
.highlights ul li{
    font-size: 18px;
    margin: 8px 0;
}

 footer{
    background-color: rgb(204, 222, 210);
    color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
 }

 #user-display {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
 }

